body {
    font-family: sans-serif;
}

#title {
    font-size: 24px;
}

#description {
    font-size: 14px;
}

h1, p {
    text-align: center;
}

input, select, textarea{
    width: 100%;
    margin: 0.30em 0 0 0;
}

input[type="radio"], input[type="checkbox"] {
    width: unset;
}

label{
    display: block;
    margin: 1em 0 0 0;
}

input[type="submit"] {
    margin: 1em 0 0 0;
}

fieldset {
    border: none;
}